<!-- content modal -->
<div id="create-task" class="content__modal">
	<form id="create-task-form" class="modal__content" autocomplete="off">
		<h2 class="main__heading">create task</h2>
		<!-- form row -->
		<div class="form__row">
			<div class="field__alert"></div>
			<input class="form__field" name="description" placeholder="What to do?">
			<span class="form__icon fas fa-tasks"></span>
		</div>
		<!-- /form row -->
		<!-- form row -->
		<div class="form__row">
			<button class="form__btn">create</button>
		</div>
		<!-- /form row -->
	</form>
</div>
<!-- content modal -->
