<div id="profile" class="content__modal">
	<div class="modal__content">

		<!-- profile img -->
		<img class="profile__img" src="<%= user.avatar %>" alt="Your profile photo"/>
		<!-- /profile img -->

		<!-- profile name -->
		<h2 class="profile__name"><%= user.name %></h2>
		<!-- /profile name -->

		<a href="/logout" class="form__btn">sing out</a>
	</div>
</div>
