<%- include('./includes/header') %>
<div class="server_broken__banner">
	<h1>40<span>4</span></h1>
</div>
<a href="/" class="server-broken__home fas fa-home" title="Back to homepage"></a>
<%- include('./includes/footer') %>
